.bewertung_label{
    align-content: center;
}

.sternebewertung{
    float: inside;
    padding-left: 20px;
}

#bemerkung{
    margin-right: 10px;
}

.fas{
    color: #40BEA9;
}

.far{
    color: #40BEA9;
}

#submit-button_bewertung{
    color: #40BEA9;
}

#submit{
    color: #40BEA9;
}

#bemerkung_rahmen{
    border: hidden;
}

#gericht_titel{
    color: #005cbf;
}

.flex-container{

    display: flex;
    flex-direction:row;
    margin-left: 180px;

}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        align-self: center;
        align-content: center;
        margin-right: 150px;
    }
}

#abschicken_rechts{
    float: right;
}

#bemerkungsfeld{

}
