#grid-container1{
    display: grid;
    grid-template-columns: minmax(250px,700px) minmax(700px,800px) minmax(250px,700px);
    text-align: center;
    justify-content: center;
}

.grid-container3{
    display: grid;
    grid-template-columns: minmax(250px,700px) minmax(700px,800px) minmax(250px,700px);
    grid-template-rows: auto auto auto;
    text-align: center;
    justify-content: center;

}

.grid-container2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 250px 250px;

}
.grid-item{
    justify-content: center;
    text-align: center;
    align-content: center;
}

.topnav{
    background-color: #40BEA9;
    height: 50px;
    text-align: left;
    padding-left: 5px;
}

#logo{
    padding-top: 7px;
}
nav {
    word-spacing: 1.5em;
    text-decoration: white;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    word-spacing: 0em;
}

#logo-mensa{
    justify-self: center;
}


#text1{
    text-align: left;
    border: 1px #40BEA9 solid;
    padding: 10px;
}

#preis-tabelle{
    margin-left: auto;
    margin-right: auto;
}

#mensa-zahlen>li{
    display: inline;
    margin: 10px;
}

.formular-felder {
    display: inline;
}

#auflistung{
    position: relative;
    left: 200px;
}

#auflistung li{
    text-align: left;
}

footer li {
    display: inline;
    border-right: 2px solid #40BEA9;
    border-spacing: 5px;
}

footer li:last-child{
    border-right: white;
}

footer{
    text-align: center;
}

main{
    border-bottom: 1px #40BEA9 solid;
}

#impressum{
    color: #40BEA9;
}

#submit-button{
    background-color: #40BEA9;
    color: white;
    border: none;
    border-radius: 3px;
}

input:disabled {
    background: gainsboro;
}

.speisenLink{
    text-align: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    float: none;
}






